.s-alert-box_inner{
    color: black;
}

.login-container {
    text-align: center;
    background-image: linear-gradient(to top, rgb(59, 54, 54) 20%, rgb(255 172 0 / 84%) 100%);
    padding-bottom: 170px;

}
.s-alert-box_inner {
    min-width: 250px;
    color: black;
}


.login-content {
    background: rgb(170, 136, 32);;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.838);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;    
    padding: 35px;
}

.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
}

.social-btn.google {
    margin-top: 7px;
}

.social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.signup-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.login-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}